<div class="col-md-12 col-xl-8">
    <h5 class="mb-3">Recent Orders</h5>
    <div class="card tbl-card">
      <div class="table-responsive">
        <table class="table table-hover mb-0">
          <thead>
            <tr>
              <th>TRACKING NO.</th>
              <th>PRODUCT NAME</th>
              <th>STATUS</th>
              <th class="text-end">TOTAL ORDER</th>
              <th class="text-end">TOTAL AMOUNT</th>
            </tr>
          </thead>
          <tbody>
            @for (order of recentOrder; track order) {
              <tr>
                <td>
                  <a href="javascript:" class="text-muted">{{ order.id }}</a>
                </td>
                <td>{{ order.name }}</td>
                <td>
                  <span class="d-block">
                    <i class="badge-circle {{ order.status_type }} f-10 m-r-5"></i>
                    {{ order.status }}
                  </span>
                </td>
                <td class="text-end">{{ order.quantity }}</td>
                <td class="text-end">{{ order.amount }}</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>